<h1 [align]="'center'">Assignment 9 - Custom Pipes</h1>

<h1>String reversing using custom pipe - </h1>
<h2>Original string: {{name}}</h2>
<h2>Reversed string: {{name | myRev }}</h2>

<h1>Addition and Multiplication using custom pipe - </h1>
<h2>Sum of entered numbers is: {{num1 | myAdd : 3}}</h2>
<h2>Product of entered numbers is: {{num2 | myMult : 3}}</h2>

<h1>Number type check using custom pipe. Number is 11 - </h1>
<h2>{{11 | marvellousChk : "Prime"}}</h2>
<h2>{{11 | marvellousChk : "Perfect"}}</h2>
<h2>{{11 | marvellousChk : "Even"}}</h2>
<h2>{{11 | marvellousChk : "Odd"}}</h2>
<router-outlet />